<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inmo.inmowifip2p">

    <application>
        <service
            android:name="com.inmo.inmowifip2p.service.WifiServerService"
            android:exported="false" />
    </application>
</manifest>